// global color themes

$color: #C7B9B9;
$color-nav: #AB8D59;
$color-footer: white;
$color-links: #AB8D59;
$color-links-hover: #C7B9B9;
$color-form: #555555;

$background-color: #C7B9B9;
$background-color-main: #4B6B56;
$background-color-nav: #14312C;
$background-color-buttons: #14312C;
$background-color-form: #FFFFFF;

$border-color-buttons: #AB8D59;
$border-color-table: #E1E1E1;
$border-color-form: #D1D1D1;
$border-color-form-focus: #33C3F0;
$border-color-hr: #E1E1E1;